<a [routerLink]="['/browse']">Browse</a> | 
<a [routerLink]="['/listings']">Listings</a> | 
<a href="/logout">Logout</a>

<div id="createBike">
  <form (submit)="newBicycle()" #createBike="ngForm">
    Image URL:<br><input 
      type="text"
      name="imgurl"
      [(ngModel)]="bicycle.imgurl"
      #imgurl = "ngModel"
      required
    ><br><br>
    Title:<br><input
      type="text"
      name="title"
      [(ngModel)]="bicycle.title"
      #title = "ngModel"
      required
      minlength = "2"
    ><br><br>
    Description:<br><textarea
      name="description"
      [(ngModel)]="bicycle.description"
      #description = "ngModel"
      required
      maxlength = "200"
      col="40"
      row="4"
    ></textarea><br><br>
    Price:<br><input
      type="number"
      step="0.01"
      name="price"
      [(ngModel)]="bicycle.price"
      #price = "ngModel"
      required
      min="1"
    ><br><br>
    Location:<br><input
      type="text"
      name="location"
      [(ngModel)]="bicycle.location"
      #location = "ngModel"
      required
    ><br><br>
    <input
      type="submit"
      value="Create"
      [disabled]="!createBike.form.valid"
    >
  </form>
</div>